
<table class="table" style="border: 2px solid ;border-style:solid;border-color:deepskyblue;height:auto;width:40%">
    <tr class="danger">


        <th>
            @Html.DisplayName("Total Expense")
        </th>

    </tr>


    <tr>
        <td>
            <div >(@ViewBag.amount)</div>
        </td>

    </tr>


</table>
